body{margin:0; background-color:#ffffff ;
}

@font-face{    
    font-family: "happy-times_italic";
    src: url(happy-times_italic.woff2);
}
@font-face{
    font-family: "happy-times_bold";
    src: url(happy-times_bold.woff2);
}

@font-face{
    font-family: "happy-times_regular";
    src: url(happy-times_regular.woff);
}

a{text-decoration: none;
color: black;
cursor: cell;}

.menu{ 
display: flex;
justify-content:space-around;
width: 100vw;
height: 2.1vw;
font-size: 1.2vw;
font-family: happy-times_regular;
position: fixed;
color: black;
top:0;
left:0;
left:0;
z-index: 99;}


.el:hover{ color: deeppink;
cursor: cell;}

#home{
    font-weight: 800;
    font-size: 1.6vw;
}

.image{
    /*margin: 1vw;*/
    position:relative;
    z-index: -10;
    display:inline;
    margin-left: 0vw;
    width: 70vw;
}

#first {
    top: 0vw;
    margin-top: 0vw;
}


#contexte{
    z-index: -10;
    width: 25vw;
    height: 45vw;
    right: 1vw;
    top: 4vw;
    /*le padding lui donne sa taille déjà*/
    position:fixed;
    padding: 1vw;
 
    font-family: happy-times_regular;
    text-align:left;

    transition-timing-function: ease-in;
    transform-origin: bottom;
    font-size: 0.8vw;
}

#titre{

font-family: happy-times_bold;
font-size: 1.5vw;
}

#date{
font-family: happy-times_italic;
}

#french{
    font-weight: 500;

font-family: happy-times_regular;
}

#english{
font-family: happy-times_italic;
}

.rose{
    color: deeppink;
}



footer{
    cursor:context-menu;
    font-family: sans-serif;
    font-size: 0.5vw;
    cursor:context-menu;
    position: absolute;
    text-align: center;
    color: gray;
    align-content: center;
    width: 80vw;
    left: 10vw;
}


