body{margin:0; background-color: black;}

a{text-decoration: none;
color: white;
cursor: cell;}

.menu{ 
display: flex;
justify-content:space-around;
width: 100vw;
height: 2.2vw;
font-family: sans-serif;
font-size: 1.6vw;
font-variant-caps: all-small-caps;
position: fixed;
top:0;
left:0;
left:0;
z-index: 99;}


.el:hover{ color: deeppink;
cursor: cell;}

#home{
    font-weight: 800;
    font-size: 1.8vw;
}

.image{
    margin: 3vw;
    position:relative;
    z-index: -10;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
}

.contexte{
    cursor:context-menu;
    z-index: 98;
    width: 35vw;
    right: 0;
    bottom: 0vw;
    color: white;
    position:fixed;
    font-family: sans-serif;
    text-align: justify;
    font-size: 80%;
    padding: 2.2vw;
    background-color: black;
    border-radius:  2.5vw;
    font-weight: 500;
    border: solid aqua 0.4vw;
}


#english{
    font-weight: 100;
    opacity: 90%;
}


#orange{
    color: orangered;
    display: inline;
}

#yellow{
    color: yellow;
    display: inline;
}

#rose{
    color: deeppink;
    display: inline;
}

footer{
    cursor:context-menu;
    font-family: sans-serif;
    font-size: 1vw;
    cursor:context-menu;
    position: absolute;
    font-variant-caps: all-small-caps;
    text-align: center;
    color: gray;
    align-content: center;
    width: 80vw;
    left: 10vw;
}
