body{margin:0;
    background: black;
}

a{text-decoration: none;
color: white;}

.menu{ 
display: flex;
justify-content:space-around;
width: 100vw;
height: 2.2vw;
font-family: sans-serif;
font-size: 1.6vw;
font-variant-caps: all-small-caps;
position: fixed;
top:0;
left:0;
z-index: 99;}

.el:hover{ color: deeppink;
cursor: cell;}

#home{
    font-weight: 800;
    font-size: 1.8vw;
}


#un{
    cursor:cell;
    width: 7vw;
    position: absolute;
    top: 65vh;
    left: 55vw;
    z-index: 2;
}

#txtun{
    cursor:context-menu;
    font-family: sans-serif;
    font-size: 3vw;
    font-weight: 600;
    position: absolute;
    opacity: 0;
    top: 65vh;
    left: 63vw;
    color: white;
} 

#deux{
    cursor:cell;
    width: 6vw;
    position: absolute;
    top: 10vh;
    left: 85vw;
    z-index: 2;
}

#trois{
    cursor:cell;
    width: 6vw;
    position: absolute;
    top: 38vh;
    left: 5vw;
    z-index: 2;
}

#quatre{
    cursor:cell;
    width: 5vw;
    position: absolute;
    top: 22vh;
    left: 26vw;
    z-index: 2;
}

#txtquatre{
    cursor:context-menu;
    font-family: sans-serif;
    font-size: 3vw;
    font-weight: 600;
    position: absolute;
    opacity: 0;
    top: 25vh;
    left: 32vw;
    color: white;
} 

.texte{

font-size: 2.8vw;
font-family: sans-serif;
width: 50vw;
position: absolute;
font-weight: 600;
cursor:context-menu;
}

#orange{
    color: orangered;
    top: 3vw;
    left: 15vw;
    transform: rotate(-8deg);

}
#rose{
    color: deeppink;
    top: 8vw;
    left: 55vw;
    width: 40vw;
}
#violet{
        color: darkmagenta;
        top: 20vw;
        left: 44vw;
        width: 50vw;
        transform: rotate(8deg);
}
#bleu{
        color: white;
        top: 25vw;
        left: 15vw;
    width: 55vw;
}
