body{margin:0;
}

a{text-decoration: none;
color: black;}

.menu{ 
display: flex;
justify-content:space-around;
width: 100vw;
height: 2.2vw;
font-family: sans-serif;
font-size: 1.2vw;
font-variant-caps: all-small-caps;
position: fixed;
top:0;
left:0;
z-index: 99;}

.el:hover{ color: deeppink;}


#un{
    cursor:cell;
    width: 6vw;
    position: absolute;
    top: 15vh;
    left: 15vw;
}

#deux{
    cursor:cell;
    width: 6vw;
    position: absolute;
    top: 30vh;
    left: 60vw;
}

#trois{
    cursor:cell;
    width: 6vw;
    position: absolute;
    top: 70vh;
    left: 40vw;
}



#txtun
{
    cursor:context-menu;
    font-family: sans-serif;
    font-size: 3vw;
    position: absolute;
    opacity: 0;
    top: 15vh;
    left: 24vw;

}  

