body{margin: 0;
padding: 0;}

a{text-decoration: none;
cursor: pointer;}

#bien{
    font-size: 2.8vw;
    font-family: sans-serif;
width: 70vw;
text-align: justify;
right: 15vw;
position: absolute;
font-weight: 600;
top: 10vw;}

#projet{color: orangered;}
#contact{color:darkblue;}
#cv{color:darkmagenta;}