body{margin:0;}

a{text-decoration: none;
color: black;}

.menu{ 
display: flex;
justify-content:space-around;
width: 100vw;
height: 2.2vw;
font-family: sans-serif;
font-size: 1.2vw;
font-variant-caps: all-small-caps;
position: fixed;
top:0;
left:0;}

.el:hover{ color: deeppink;}
/*//mmmmmmmmmmenuuuuuuuuuuuu//*/


.grid-container {
  display: grid;
  grid-template-columns: auto auto auto ;
    grid-gap: 2vh;
    height: 90vh;
    width:90vw;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    margin-top:5vh;
    
}

.grid-item {
    background-color: rgba(0, 235, 255, 0);
    cursor: pointer;
    overflow:hidden;
    display:block;
    background-size: 100% auto;
    background-repeat:no-repeat;
    background-position: center center;
    width:27vw;
    height:27vw;   
}

.grid-item:hover{
    filter: grayscale(100%);
    overflow: hidden;
    background-size: 120% auto;
    cursor: cell;
}


#proj01 {
    background-image: url(../IMG/voix_3_small.jpg);
    transition:all .3s ease-in-out;}

#proj02 {
    background-image: url(../IMG/cinesad_orange_small.jpg);
    transition:all .3s ease-in-out;}

#proj03 {
    background-image: url(../IMG/aquarium.jpg);
    transition:all .3s ease-in-out;}

#proj04 {
    background-image: url(../IMG/feminisme_4_small.jpg);
    transition:all .3s ease-in-out;}

#proj05 {
    background-image: url(../IMG/fear2.png);
    transition:all .3s ease-in-out;}

#proj06 {
    background-image: url(../IMG/jonquille_specimen_1_small.jpg);
    transition:all .3s ease-in-out;}

#proj07 {
    background-image: url(../IMG/skatepark.jpg);
    transition:all .3s ease-in-out;}

#proj08 {
    background-image: url(../IMG/protocole_1_small.jpg);
    transition:all .3s ease-in-out;}

#proj09 {
    background-image: url(../IMG/pomme%20papier.jpg);
    transition:all .3s ease-in-out;}

#proj10 {
    background-image: url(../IMG/corpsesprit.png);
    transition:all .3s ease-in-out;}


